<h1>User creator</h1>

<%= form_with model: @user, url: new_user_path do |form| %>
  <%= form.label :username, "Username: " %>
  <%= form.text_field :username %>
    <%= form.label :email, "Email: " %>
  <%= form.email_field :email %>
    <%= form.label :password, "Password: " %>
  <%= form.password_field :password %>
  <%= form.submit "Create user" %>
<%end%>

